:root {
    /* tried adding a number of variables to be used throughout css code */

    /* colors */
    --black: black;
    --blue300: rgb(160, 160, 255);
    --grey200: rgb(193, 195, 224);
    --grey500: rgb(123, 117, 158);
    --grey700: #394f5a;
    --white: white;
    --grey100: gainsboro;

    /* borders */
    --border-small: 5px;
    --border-large: 10px;

    /* font size */
    --font-size-small: 0.75rem;
    --font-size-med: 1.25rem;
    --font-size-large: 1.65rem;

    /* spacing */
    --margin-small: 15px;
    --margin-medium: 50px;
    --margin-large: 100px;
    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-larger: 20px;

    /* fonts */
    --font-text: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-title: 'Roboto', 'system-ui', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-header: Verdana, Tahoma, sans-serif;
    --font-anchor: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

h1 {
    font-family: var(--font-header);
}

a {
    font-family: var(--font-anchor);
}

h2,
.me,
h3,
h4 {
    font-family: var(--font-title);
}

.bio {
    font-family: var(--font-text);
}

.background {
    background-color: var(--grey200);
    background-image: url(../img/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* put all elements with the gradient coloring here */
header,
footer,
.bio,
h3,
h4 {
    background: linear-gradient(270deg, var(--blue300), var(--grey700));
}

/* Code for the header */

header,
footer {

    display: block;
    padding: var(--padding-larger);
    padding-bottom: 50px;
    width: 100%;
}

h1,
h5 {
    display: inline-block;
    color: var(--grey200);

    font-size: 48px;
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-small);
}

.contact,
.navbar {
    float: right;
    font-size: var(--font-size-med);
    padding: var(--padding-medium);
}

.contact a,
.navbar a {
    color: var(--white);
    padding: 10px;
    transition: .5s;
}

a:hover {
    color: var(--black);
    transform: scale(1.1);
}

/* CODE FOR MAIN */

main {
    display: block;
}

.info {
    display: flex;
}

.profile {
    margin: var(--margin-small);
    max-height: 340px;
    max-width: 340px;
    transition: .5s;
}

.profile:hover {
    transform: scale(1.1);
}

aside {
    margin-right: var(--margin-medium);
}

h2 {
    background: var(--grey100);
    border-color: var(--grey700);
    border-style: solid;
    border-width: var(--border-small);
    border-radius: 10px;
    color: var(--grey700);
    display: block;
    text-align: center;
    font-size: 24px;
}

.me,
.bio {
    margin-left: var(--margin-small);
    margin-right: var(--margin-small);
    padding: var(--padding-medium);
}

.me {
    border-style: solid;
    border-width: 2px;
    box-shadow: 10px 10px 5px var(--grey700);
    margin-top: var(--margin-medium);
    width: 100%;
}

.bio {
    border: var(--border-small);
    border-color: var(--grey700);
    border-radius: 10px;
    border-style: solid;
    border-width: var(--border-small);
    box-shadow: 10px 10px 5px var(--grey700);
    color: var(--grey200);
    margin-bottom: var(--margin-medium);
    width: 100%;
}


h3 {
    border-color: var(--grey700);
    border-style: solid;
    border-width: var(--border-small);
    border-radius: 10px;
    display: block;
    text-align: center;
    color: var(--grey200);
    font-size: 48px;
}

.work {
    margin-left: var(--margin-small);
    margin-right: var(--margin-medium);

}

/* represents a different poject within portfolio */
.container {
    background-color: var(--grey100);
    border-style: solid;
    border-width: var(--border-small);
    border-radius: 10px;
    border-color: var(--grey700);
    box-sizing: border-box;
    box-shadow: 10px 10px 5px var(--grey700);
    height: 300px;
    min-width: 300px;
    display: inline-block;
    margin: var(--margin-small);
    transition: .5s;
}

/* image within each project container */
.image {
    display: block;
    max-width: 90%;
    max-height: 85%;
    margin-left: auto;
    margin-right: auto;
}

.container:hover {
    transform: scale(1.1);
    background-color: var(--grey500);
}

h4 {

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: solid;
    border-bottom-width: 3px;
    border-color: var(--grey700);
    margin-bottom: 2px;
    color: var(--grey200);
    padding: var(--padding-small);
    text-decoration: none;
}

h5 {
    font-size: var(--font-size-large);
    padding: var(--padding-medium);
}


@media screen and (max-width: 760px) {
    main {
        flex-wrap: wrap;
        display: flex;
    }

    .me {
        margin-top: 1px;
    }

    .profile {
        display: block;
        margin-top: var(--margin-small);
        margin-left: auto;
        margin-right: auto;
    }

    .info {
        display: block;
    }

    /* centers title of footer and header, also adjusts some padding while centering and moving anchors below */
    h1,
    h5,
    header,
    footer {
        align-items: center;
        display: inline-block;
        text-align: center;
        padding-bottom: 1px;
    }

    /* centers the anchors in header and footer when screen below 760px */
    .navbar,
    .contact {
        float: none;
        padding-bottom: var(--padding-small);
    }
}